<% if(sessionUser !== undefined){ %>
<div class="addTovarData">
	<h2><%= page.createanad.title %></h2>
	<div class="newTovarLoader"></div>
	<div class="lineOftovar">
		<div class="titleOfNewTovar"><%= page.productname %></div>
		<input type="text" name="newTovarTitle" placeholder="<%= page.productname %>">
	</div>

	<div class="lineOftovar">
		<div class="titleOfNewTovar"><%= page.contactphone %></div>
		<input type="text" name="newTovarNumber" id="setNewNumTovar" placeholder="<%= page.contactphone %>">
	</div>
	<div class="lineOftovar">
		<div class="titleOfNewTovar"><%= page.email %></div>
		<input type="text" name="newTovarEmail" id="setNewEmailTovar" placeholder="<%= page.email %>">
	</div>
	<div class="lineOftovar">
		<div class="titleOfNewTovar"><%= page.productdescription %></div>
		<textarea placeholder="<%= page.productdescription %>"></textarea>
	</div>
	<div class="lineOftovar">
		<div class="titleOfNewTovar"><%= page.typeob %>: </div>
		<label class="buttonOfRadio radioactive" for="prodam" onclick="clickLabelType(this)"><%= page.iwillsell %></label>
		<label class="buttonOfRadio" for="kuplyu" onclick="clickLabelType(this)"><%= page.buy %></label>
		<label class="buttonOfRadio" for="otdam" onclick="clickLabelType(this)"><%= page.iwillgiveagift %></label>
		<input type="radio" name="newTovarType" value="Куплю" id="kuplyu" class="hiddenradio" checked>
		<input type="radio" name="newTovarType" value="Продам" id="prodam" class="hiddenradio">
		<input type="radio" name="newTovarType" value="Отдам" id="otdam" class="hiddenradio">
	</div>
	<div class="lineOftovar" id="priceOfTovarBlock">
		<div class="titleOfNewTovar"><%= page.price %></div>
		<input type="text" name="newTovarNumber" id="setNewPriceTovar" placeholder="<%= page.price %>">		
	</div>	

	<h3>Добавить изображения</h3>
	<input type="file" name="file" id="tFile" required multiple>
	<div class="AddPhotoBlock">
		<div class="newPhotoClick" onclick="addPhoto(this,0)">
			<img src="../../../img/image.svg">
			<div class="removePhoto" onclick="thisRemovePhoto(this,0)" title="<%= page.remove %>"></div>
		</div>
		<div class="newPhotoClick" onclick="addPhoto(this,1)">
			<img src="../../../img/image.svg">
			<div class="removePhoto" onclick="thisRemovePhoto(this,1)" title="<%= page.remove %>"></div>
		</div>
		<div class="newPhotoClick" onclick="addPhoto(this,2)">
			<img src="../../../img/image.svg">
			<div class="removePhoto" onclick="thisRemovePhoto(this,2)" title="<%= page.remove %>"></div>
		</div>
		<div class="newPhotoClick" onclick="addPhoto(this,3)">
			<img src="../../../img/image.svg">
			<div class="removePhoto" onclick="thisRemovePhoto(this,3)" title="<%= page.remove %>"></div>
		</div>
		<div class="newPhotoClick" onclick="addPhoto(this,4)"> 
			<img src="../../../img/image.svg">
			<div class="removePhoto" onclick="thisRemovePhoto(this,4)" title="<%= page.remove %>"></div>
		</div>
		<div class="newPhotoClick" onclick="addPhoto(this,5)">
			<img src="../../../img/image.svg">
			<div class="removePhoto" onclick="thisRemovePhoto(this,5)" title="<%= page.remove %>"></div>
		</div>
	</div>
	<div class="SavingBtnNewTovar" onclick="getNewPostTovar()"><%= page.postads %></div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$('.hiddenradio').on('change',function(){
			if(document.querySelector('input[name="newTovarType"]:checked').value === 'Отдам'){
				$('#priceOfTovarBlock').hide();
			}else{
				$('#priceOfTovarBlock').show();
			}
		});		
	});
</script>
<% } %>