<footer class="flex-rw">
  <ul class="footer-list-top">
    <li><a href='/about' class="generic-anchor footer-list-anchor" itemprop="significantLink"><%= page.top_menu[1] %></a></li>
    <li><a href='/news?page=1' class="generic-anchor footer-list-anchor" itemprop="significantLink"><%= page.top_menu[2] %></a></li>
    <li><a href='/VHF?page=1' class="generic-anchor footer-list-anchor" itemprop="significantLink"><%= page.top_menu[3] %></a></li>
    <li><a href='/HF?page=1' itemprop="significantLink" class="generic-anchor footer-list-anchor"><%= page.top_menu[4] %></a></li>
    <li><a href='http://forum.ur4wwr.org' class="generic-anchor footer-list-anchor" itemprop="significantLink"><%= page.top_menu[5] %></a></li>
    <li><a href='/market?page=1' class="generic-anchor footer-list-anchor" itemprop="significantLink"><%= page.top_menu[6] %></a></li>
    <li><a href='/contacts' class="generic-anchor footer-list-anchor" itemprop="significantLink"><%= page.top_menu[7] %></a></li>
  </ul>
  <ul class="footer-list-top">
    <a href="#" class="generic-anchor" target="_blank" title="Facebook" itemprop="significantLink"><i class="fa fa-facebook"></i></a>       
    <a href="#" class="generic-anchor" target="_blank" title="Instagram" itemprop="significantLink"><i class="fa fa-instagram"></i></a>
    <a href="#" class="generic-anchor" target="_blank" title="Youtube" itemprop="significantLink"><i class="fa fa-youtube"></i></a>
    <a href="#" class="generic-anchor" target="_blank" title="VK" itemprop="significantLink"><i class="fa fa-vk"></i></a>
  </ul>

  <ul class="footer-list-top">
    <li><a href='/help' class="generic-anchor footer-list-anchor" itemprop="significantLink">FAQ</a></li>
    <li id='find-a-store'><a href='/sitemap' class="generic-anchor footer-list-anchor" itemprop="significantLink"><%= page.sitemap %></a></li>
    <li id='find-a-store'><a href='/rules' class="generic-anchor footer-list-anchor" itemprop="significantLink"><%= page.rules %></a></li>
    <li id='find-a-store'><a href='/privacepolicy' class="generic-anchor footer-list-anchor" itemprop="significantLink"><%= page.pp %></a></li>
  </ul>
  
  <section class="footer-bottom-section flex-rw">
    <div class="footer-bottom-wrapper">   
      <i class="fa fa-copyright" role="copyright">
      </i> <%= page.copiright[0] %> <address class="footer-address" role="company address"> <%= page.copiright[1] %> </address><span class="footer-bottom-rights"></span>
    </div>
    <div class="footer-bottom-wrapper"></div>
  </section>
</footer>