<a href="/activity?page=1" id="activity"><%= page.left_menu[0] %></a>
<a href="/calendar" id="calendar"><%= page.left_menu[1] %></a>
<a href="/numeral?page=1" id="Numeral"><%= page.left_menu[2] %></a>
<a href="/Ñommunities?page=1" id="Communities"><%= page.left_menu[3] %></a>
<a href="/roundtables" id="Round_tables"><%= page.left_menu[4] %></a>
<a href="/market?page=1" id="market"><%= page.left_menu[5] %></a>
<a href="/others" id="miscellanea"><%= page.left_menu[6] %></a>
<a href="/technikal" id="Technical_section"><%= page.left_menu[7] %></a>	
<% if(isAdm === true){ %>
<a href="/PanelIndex" target="_blank" id="admin_panel_a"><%= page.left_menu[8] %></a>
<% } %>			