<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="Description" content="Радиоклуб АЗИМУТ">
	<title><%= page.contacts.title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
	<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="/style/loader.css">
	<link rel="stylesheet" type="text/css" href="/style/global.css">
	<link rel="stylesheet" type="text/css" href="/style/global.min.css">
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<script type="text/javascript" src="./data/header.json"></script>
	<script type="text/javascript" src="/script/jquery-3.2.1.js"></script>
	<script type="text/javascript" src="/script/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="/script/jquery-ui.js"></script>
	<script type="text/javascript" src="/script/jquery.cookie.js"></script>
	<script type="text/javascript" src="/script/index.js"></script>
	<script type="text/javascript" src="/script/global.socket.js"></script>
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css" />
	<script src="http://cdn.leafletjs.com/leaflet-0.7/leaflet.js"></script>
	<script type="text/javascript" src="/script/contacts/contacts.js"></script>
	<% if(sessionUser === undefined){ %>
	<script type="text/javascript" src="/script/loginMethod.js"></script>	
	<% } %>	
	<link rel="stylesheet" type="text/css" href="/style/contacts/contacts.css">
	<link rel="stylesheet" type="text/css" href="/style/contacts/contacts.min.css">

</head>
<body>	
	<%- include ./includes/mini_panel.ejs %>
	<div class="wrapper">
		<div id="loader-wrapper">
			<div id="loader">
				<div class="pulse"></div>
			</div>
			<div class="loader-section section-left"></div>
			<div class="loader-section section-right"></div>
		</div>
	</div>
	<header>	
		<canvas id="canvas"></canvas>
		<canvas id="spectr"></canvas>
		<img src="../../../img/logo1.png" id="logotype">		
		<h1><%= page.contacts.title %></h1>		
		<div class="toScroll">
			<div class="scroll-arrow"></div>
			<div class="scroll-arrow"></div>
			<div class="scroll-arrow"></div>
		</div>
		
		<div id="head_banner"><%= locator %></div>
		<nav> 
			<h1><%= page.contacts.title %></h1>	
			<div class="mobileWrapper">
				<a class="menu-2" data-menu="2"></a>
			</div>
			<a href="/"><%= page.top_menu[0] %></a>
			<a href="/about"><%= page.top_menu[1] %></a> 
			<a href="/news?page=1"><%= page.top_menu[2] %></a> 
			<a href="/VHF?page=1" class="menu_to_left"><%= page.top_menu[3] %></a> 
			<a href="/HF?page=1" class="menu_to_right"><%= page.top_menu[4] %></a> 
			<a href="#"><%= page.top_menu[5] %></a> 
			<a href="/market?page=1"><%= page.top_menu[6] %></a> 
			<a href="/contacts"><%= page.top_menu[7] %></a> 
		</nav>
	</header>
	<main class="wrapper">
		<div class="nav_menu left">
			<div class="nav_wrapper">
				<div class="wrapper_title"><%= page.navigation %></div>
				<div class="pre_line"></div>
				<%- include ./includes/left_nav.ejs %>		
			</div>
			<div class="nav_wrapper">
				<div class="wrapper_title"><%= page.information %></div>
				<div class="pre_line"></div>				
				<%- include ./includes/information.ejs %>
			</div>
		</div>
		<div class="nav_menu right">
			<%- include ./includes/user_block.ejs %> 		
			
			<div class="nav_wrapper">
				<div class="wrapper_title">APRS</div>
				<div class="pre_line"></div>
				<a class="none_text" href="https://www.aprsdirect.com/center/49.82786,24.03119/zoom/11/time/60" target="_blank">
					<img src="../../../img/aprs.png" width="228">
					<div class="a_btn"><%= page.openMap %></div>
				</a>
			</div>
		</div>
		<div class="navigator">
			<a href="/" id="nav_home" class="navigator_btn"><%= page.top_menu[0] %></a>
			<a href="/contacts" id="nav_contacts" class="navigator_btn selected_nav"><%= page.top_menu[7] %></a>
		</div>
		<div class="contacts_data">
			<h2 class="contacts_block_title"><%= page.imaps %></h2>
			<div class="map_block" id="map"></div>
		</div>	

		<div class="contacts_data" id="myContacts">
			<h2 class="contacts_block_title"><%= page.ourcontacts %></h2>
			<div class="numbers_block">
				<div class="userContact">
					<img id="oneAdmin" src="../../../data/avatars/default.gif">
					<script type="text/javascript">
						var posivka = '<%= page.admins[0].pozivnoy %>';
						$.post('/getUserAva', {user: posivka},function(res){
							console.log(res);
							$('#oneAdmin').attr({"src":"../../../data/avatars/"+res.ava})
						});
					</script>
					<div class="userName"><%= page.admins[0].name %></div>
					<div class="userDolg">(<%= page.admins[0].rank %>)</div>
					<a href="tel:<%= page.admins[0].number %>" class="userNumbe"><%= page.admins[0].number %></a>
					<a href="mailto:<%= page.admins[0].name %>?subject=SweetWords" class="userEmail"><%= page.admins[0].email %></a>
					<div class="userPozivnoy">(<%= page.admins[0].pozivnoy %>)</div>
				</div>
				<div class="userContact">
					<img id="twoAdmin" src="../../../data/avatars/default.gif">
					<script type="text/javascript">
						var posivka = '<%= page.admins[1].pozivnoy %>';
						$.post('/getUserAva', {user: posivka},function(res){
							$('#twoAdmin').attr({"src":"../../../data/avatars/"+res.ava})
						});
					</script>
					<div class="userName"><%= page.admins[1].name %></div>
					<div class="userDolg">(<%= page.admins[1].rank %>)</div>
					<a href="tel:<%= page.admins[1].number %>" class="userNumbe"><%= page.admins[1].number %></a>
					<a href="mailto:<%= page.admins[1].name %>?subject=SweetWords" class="userEmail"><%= page.admins[1].email %></a>
					<div class="userPozivnoy">(<%= page.admins[1].pozivnoy %>)</div>
				</div>
				<div class="userContact">
					<img id="threeAdmin" src="../../../data/avatars/default.gif">
					<script type="text/javascript">
						var posivka = '<%= page.admins[2].pozivnoy %>';
						$.post('/getUserAva', {user: posivka},function(res){
							$('#threeAdmin').attr({"src":"../../../data/avatars/"+res.ava})
						});
					</script>
					<div class="userName"><%= page.admins[2].name %></div>
					<div class="userDolg">(<%= page.admins[2].rank %>)</div>
					<a href="tel:<%= page.admins[2].number %>" class="userNumbe"><%= page.admins[2].number %></a>
					<a href="mailto:<%= page.admins[2].name %>?subject=SweetWords" class="userEmail"><%= page.admins[2].email %></a>
					<div class="userPozivnoy">(<%= page.admins[2].pozivnoy %>)</div>
				</div>
			</div>					
		</div>	
		<div class="contacts_data">
			<h2 class="contacts_block_title"><%= page.sendmessage %></h2>
			<div class="postMessageBlock">
				<div class="inner contact">
					<div class="contact-form">
						<!-- Form -->
						<!-- <form id="contact-us" method="post" action="#"> -->
							<!-- Left Inputs -->
							<div class="col-xs-6 wow animated slideInLeft" data-wow-delay=".5s">
								<!-- Name -->
								<input type="text" name="name" id="name" required="required" class="form" placeholder="Ваше имя" />
								<!-- Email -->
								<input type="email" name="mail" id="mail" required="required" class="form" placeholder="Email" />
								<!-- Subject -->
								<input type="text" name="subject" id="subject" required="required" class="form" placeholder="Тема сообщения" />
							</div><!-- End Left Inputs -->
							<!-- Right Inputs -->
							<div class="col-xs-6 wow animated slideInRight" data-wow-delay=".5s">
								<!-- Message -->
								<textarea name="message" id="message" class="form textarea"  placeholder="Введите текст сообщения"></textarea>
							</div><!-- End Right Inputs -->
							<!-- Bottom Submit -->
							<div class="relative fullwidth col-xs-12">
								<!-- Send Button -->
								<button type="submit" id="submit" name="submit" class="form-btn semibold" onclick="sendmessageToYou()"><%= page.sendmessage %></button> 
							</div><!-- End Bottom Submit -->
							<!-- Clear -->
							<div class="clear"></div>
						<!-- </form> -->

						<!-- Your Mail Message -->
						<div class="mail-message-area">
							<!-- Message -->
							<div class="alert gray-bg mail-message not-visible-message">
								<strong>Thank You !</strong> Your email has been delivered.
							</div>
						</div>
					</div><!-- End Contact Form Area -->
				</div><!-- End Inner -->
			</div>					
		</div>			
	</main>
	<div id="stop" class="scrollTop"></div>
	<%- include ./includes/footer.ejs %>
	<div class="notifications"></div> 
</body>
</html>