<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="Description" content="Радиоклуб АЗИМУТ">
	<title>Барахолка</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
	<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="/style/loader.css">
	<link rel="stylesheet" type="text/css" href="/style/global.css">
	<link rel="stylesheet" type="text/css" href="/style/global.min.css">
	<link rel="stylesheet" type="text/css" href="/style/market/style.market.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<script type="text/javascript" src="./data/header.json"></script>
	<script type="text/javascript" src="/script/jquery-3.2.1.js"></script>
	<script type="text/javascript" src="/script/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="/script/jquery-ui.js"></script>
	<script type="text/javascript" src="/script/index.js"></script>
	<script type="text/javascript" src="/script/market/market.js"></script>
	<% if(sessionUser === undefined){ %>
	<script type="text/javascript" src="/script/loginMethod.js"></script>	
	<% } %>
	<% if(isAdm === true){ %>
	<link rel="stylesheet" type="text/css" href="/style/admin/admin.css">
	<script type="text/javascript" src="/script/admin/admin.js"></script>	
	<% } %>
</head>
<body>	
	<div class="wrapper">
		<div id="loader-wrapper">
			<div id="loader">
				<div class="pulse"></div>
			</div>
			<div class="loader-section section-left"></div>
			<div class="loader-section section-right"></div>
		</div>
	</div>
	<header>	
		<canvas id="canvas"></canvas>
		<canvas id="spectr"></canvas>
		<img src="../../../img/logo1.png" id="logotype">		
		<h1><b>БАРАХОЛКА</b></h1>		
		<div class="toScroll">
			<div class="scroll-arrow"></div>
			<div class="scroll-arrow"></div>
			<div class="scroll-arrow"></div>
		</div>		
		<div id="head_banner"><%= locator %></div>
		<nav> 
			<h1>Радиоклуб <b>Азимут</b></h1>	
			<div class="mobileWrapper">
				<a class="menu-2" data-menu="2"></a>
			</div>
			<a href="/">Главная</a>
			<a href="/about">О нас</a> 
			<a href="/news">Новости</a> 
			<a href="/VHF" class="menu_to_left">VHF</a> 
			<a href="/HF" class="menu_to_right">HF</a> 
			<a href="#">Форум</a> 
			<a href="/market">Барахолка</a> 
			<a href="/contacts">Контакты</a> 
		</nav>
	</header>
	<main class="wrapper">
		<div class="nav_menu left">
			<div class="nav_wrapper">
				<div class="wrapper_title">Навигация</div>
				<div class="pre_line"></div>
				<a href="#" id="activity">Мероприятия</a>
				<a href="#" id="calendar">Календарь</a>
				<a href="#" id="Numeral">Цифра</a>
				<a href="#" id="Communities">Сообщества</a>
				<a href="/roundtables" id="Round_tables">Круглые столы</a>
				<a href="/market" id="market">Барахолка</a>
				<a href="#" id="miscellanea">Разное</a>
				<a href="#" id="Technical_section">Технический раздел</a>
				<% if(isAdm === true){ %>
				<a href="/panel" id="admin_panel_a">Панель администратора</a>
				<% } %>				
			</div>
			<div class="nav_wrapper">
				<div class="wrapper_title">Информация</div>
				<div class="pre_line"></div>				
				<div class="info_div">Действующие репитеры:</div>
				<div class="ii_div">145.650/145.050 FM - UR0WVA;</div>
				<div class="ii_div">438.800/431.200 FM/DN C4FM - UR0WUA, CTCSS 82.5;</div>
				<div class="ii_div">439.450/431.850 DMR - UR0WUB;</div>
				<div class="ii_div">433.425 FM - CTCSS 82.5, ECHO;</div>
				<div class="ii_div">27.110 FM - CB ECHO.</div>

				<div class="info_div">Действующие частоты:</div>
				<div class="ii_div">145.500 FM - вызывной；</div>
				<div class="ii_div">145.450 FM - прямой;</div>
				<div class="ii_div">432.500 FM - вызывной;</div>
				<div class="ii_div">433.500 FM - вызывной;</div>
				<div class="ii_div">144.800 FM - APRS.</div>

				<div class="info_div">Разговорные группы:</div>
				<div class="ii_div_min_title">DMR:</div>
				<div class="ii_div">2555 TS2 - Украина;</div>
				<div class="ii_div">25514 TS1 - Львов;</div>
				<div class="ii_div">25577 TS1 - Азимут.</div>

				<div class="ii_div_min_title">Wires-X C4FM:</div>
				<div class="ii_div">41270 - Комната Украина;</div>
				<div class="ii_div">27053 - Шлюз в DMR/D-STAR;</div>
				<div class="ii_div">31270 - Львовский узел.</div>

				<div class="info_div">Круглые столы:</div>
				<div class="ii_div">UR0WVA - 21.00 понедельник;</div>
				<div class="ii_div">UR0WUA - 21.00 воскресенье;</div>
				<div class="ii_div">3.612 LSB - 8.00 воскресене；</div>
				<div class="ii_div">27.110 FM - 20.45 (спринт-группа).</div>
			</div>
		</div>
		<div class="nav_menu right">
			<% if(sessionUser !== undefined){ %>
			<div class="nav_wrapper" id="users_wraper">
				<div class="wrapper_title">Пользователь</div>
				<div class="pre_line"></div>
				<div class="nav_loader"></div>
				<div class="userAVA" style="background-image: url(../../../data/avatars/default.gif)"></div>
				<div class="userDATA">
					<div class="userLogin"><%= sessionUser %></div>
					<div class="userPoziv">(<%= sessionPoziv %>)</div>
					<a href="/getProfile" class="userButton">Профиль</a>
				</div>
				<a href="/logout" class="userlogoutInBlock" title="Выход">Выход</a>	
				<div class="localisation">
					<div class="localIcon" id="ru" title="Русский"></div>
					<div class="localIcon" id="ua" title="Українська"></div>
					<div class="localIcon" id="en" title="English"></div>
				</div>	
			</div>
			<% } else { %>
			<div class="nav_wrapper" id="users_wraper">
				<div class="wrapper_title">Авторизация</div>
				<div class="pre_line"></div>
				<div class="nav_loader"></div>
				<input type="text" name="emailRadio" id="emailRadio" class="authdata" placeholder="Позывной">
				<input type="password" name="passwordRadio" id="passwordRadio" class="authdata" placeholder="Пароль">
				<input type="button" value="Авторизация" class="auth_btn" id="signIn" onclick="signIn()">
				<a href="/register" class="NewPassLink">Регистрация</a>
				<a href="/forgotPass" class="NewPassLink">Забыли пароль?</a>
				<div class="localisation">
					<div class="localIcon" id="ru" title="Русский"></div>
					<div class="localIcon" id="ua" title="Українська"></div>
					<div class="localIcon" id="en" title="English"></div>
				</div>
			</div>
			<% } %> 

			<div class="nav_wrapper">
				<div class="wrapper_title">Фильтр</div>
				<div class="pre_line"></div>
				<div class="selectLabel">Тип объяввления:</div>
				<select class="minimal" id="selectType">
					<option value="0">• Все объявления</option>
					<option value="1">• Продам</option>
					<option value="2">• Куплю</option>
					<option value="18">• Подарю / Отдам даром</option>
				</select>

				<div class="selectLabel">Тип товаров:</div>
				<select class="minimal" id="selectTovar">
					<option value="0">• Все товары</option>
					<option value="1">• Антенны</option>
					<option value="2">• ТРАНСИВЕРЫ КВ</option>
					<option value="3">• ТРАНСИВЕРЫ УКВ</option>
					<option value="4">• ТРАНСИВЕРЫ SDR</option>
					<option value="5">• ПРИЕМНИКИ</option>
					<option value="6">• ВСЕ ДЛЯ СВ</option>
					<option value="7">• Радио</option>
					<option value="8">• УСИЛИТЕЛИ</option>
					<option value="9">• БЛОКИ ПИТАНИЯ</option>
					<option value="10">• ЛАМПЫ</option>
					<option value="11">• ЦИФРОВАЯ СВЯЗЬ</option>
					<option value="12">• АКСЕССУАРЫ</option>
					<option value="13">• ИЗМЕРИТЕЛЬНАЯ ТЕХНИКА</option>
					<option value="14">• ПРИБОРЫ СВЧ</option>
					<option value="15">• РАДИОДЕТАЛИ</option>
					<option value="16">• КЛЮЧИ</option>
					<option value="17">• ЛИТЕРАТУРА, ДИСКИ</option>
				</select>
			</div>
			<div class="nav_wrapper">
				<div class="wrapper_title">APRS</div>
				<div class="pre_line"></div>
				<a class="none_text" href="https://www.aprsdirect.com/center/49.82786,24.03119/zoom/11/time/60" target="_blank">
					<img src="../../../img/aprs.png" width="228">
					<div class="a_btn">Открыть карту</div>
				</a>
			</div>
		</div>
		<div class="navigator">
			<a href="/" id="nav_home" class="navigator_btn">Главная</a>
			<a href="/market" id="nav_market" class="navigator_btn selected_nav">Барахолка</a>
		</div>	
		<div class="tovarLength">Найдено: <%= TOVAR.length %> объявлений</div>		
		<div class="market_data">
			<div class="addNewTovar" id="addNewTovar" onclick="addNewTovar()">Подать объявление</div>
			<% for(var i = 0; i < TOVAR.length; i++){ %>
			<a href="/getDetailsTovar?AI=<%= TOVAR[i].AI %>">
				<section id="section_<%= i %>" class="section_data">				
					<div class="preImage" style="background-image: url(<%= TOVAR[i].Images[0] %>)"></div>
					<h4><%= TOVAR[i].Title %></h4>
					<div class="description"><%= TOVAR[i].Description %></div>
					<% if(TOVAR[i].Type === 'Куплю'){ %>
					<div class="typeMar"><%= TOVAR[i].Type %></div>
					<% } else { %>
					<div class="typeMar prodam"><%= TOVAR[i].Type %></div>
					<% } %>					
					<div class="dateMar"><%= TOVAR[i].Date %></div>
				</section>
			</a>			
			<% } %>

			<div class="addTovarData">
				<div class="canvelAddTovar" onclick="canvelAddTovar()">Отмена</div>
				<h2>Заполните данные</h2>
				<div class="newTovarLoader"></div>
				<div class="lineOftovar">
					<div class="titleOfNewTovar">Название товара</div>
					<input type="text" name="newTovarTitle" placeholder="Введите название товара">
				</div>
				<div class="lineOftovar">
					<div class="titleOfNewTovar">Телефон для связи</div>
					<input type="text" name="newTovarNumber" id="setNewNumTovar" placeholder="Введите номер телефона">
				</div>
				<div class="lineOftovar">
					<div class="titleOfNewTovar">Електронная почта</div>
					<input type="text" name="newTovarEmail" id="setNewEmailTovar" placeholder="Введите ваш адрес електронной почты">
				</div>
				<div class="lineOftovar">
					<div class="titleOfNewTovar">Описание товара</div>
					<textarea placeholder="Опишите ваш товар"></textarea>
				</div>
				<div class="lineOftovar">
					<div class="titleOfNewTovar">Тип объявления: </div>
					<label class="buttonOfRadio" for="prodam" onclick="clickLabelType(this)">Продам</label>
					<label class="buttonOfRadio" for="kuplyu" onclick="clickLabelType(this)">Куплю</label>
					<label class="buttonOfRadio" for="otdam" onclick="clickLabelType(this)">Отдам даром</label>
					<input type="radio" name="newTovarType" value="kuplyu" id="kuplyu" class="hiddenradio">
					<input type="radio" name="newTovarType" value="prodam" id="prodam" class="hiddenradio">
					<input type="radio" name="newTovarType" value="otdam" id="otdam" class="hiddenradio">
				</div>
				<h3>Добавить изображения</h3>
				<input type="file" name="file" id="tFile" required multiple>
				<div class="AddPhotoBlock">
					<div class="newPhotoClick" onclick="addPhoto()">
						<img src="../../../img/image.svg">
					</div>
					<div class="newPhotoClick" onclick="addPhoto()">
						<img src="../../../img/image.svg">
					</div>
					<div class="newPhotoClick" onclick="addPhoto()">
						<img src="../../../img/image.svg">
					</div>
					<div class="newPhotoClick" onclick="addPhoto()">
						<img src="../../../img/image.svg">
					</div>
					<div class="newPhotoClick" onclick="addPhoto()"> 
						<img src="../../../img/image.svg">
					</div>
					<div class="newPhotoClick" onclick="addPhoto()">
						<img src="../../../img/image.svg">
					</div>
				</div>
				<div class="SavingBtnNewTovar" onclick="getNewPostTovar()">Подать объявление</div>
			</div>
		</div>
		<% if( TOVAR.length > 6){ %>
		<div class="addOldNews">Показать больше...</div>	
		<% } %>		
	</main>
	<div id="stop" class="scrollTop"></div>
	<footer class="flex-rw">
		<ul class="footer-list-top">
			<li><a href='/about' class="generic-anchor footer-list-anchor" itemprop="significantLink">Про нас</a></li>
			<li><a href='/news' class="generic-anchor footer-list-anchor" itemprop="significantLink">Новости</a></li>
			<li><a href='#' class="generic-anchor footer-list-anchor" itemprop="significantLink">VHF</a></li>
			<li><a href='#' itemprop="significantLink" class="generic-anchor footer-list-anchor">HF</a></li>
			<li><a href='#' class="generic-anchor footer-list-anchor" itemprop="significantLink">Форум</a></li>
			<li><a href='/market' class="generic-anchor footer-list-anchor" itemprop="significantLink">Барахолка</a></li>
			<li><a href='/contacts' class="generic-anchor footer-list-anchor" itemprop="significantLink">Контакты</a></li>
		</ul>
		<ul class="footer-list-top">
			<a href="#" class="generic-anchor" target="_blank" title="Facebook" itemprop="significantLink"><i class="fa fa-facebook"></i></a>				
			<a href="#" class="generic-anchor" target="_blank" title="Instagram" itemprop="significantLink"><i class="fa fa-instagram"></i></a>
			<a href="#" class="generic-anchor" target="_blank" title="Youtube" itemprop="significantLink"><i class="fa fa-youtube"></i></a>
			<a href="#" class="generic-anchor" target="_blank" title="VK" itemprop="significantLink"><i class="fa fa-vk"></i></a>
		</ul>
		<ul class="footer-list-top">
			<li><a href='#' class="generic-anchor footer-list-anchor" itemprop="significantLink">FAQ</a></li>
			<li id='find-a-store'><a href='#' class="generic-anchor footer-list-anchor" itemprop="significantLink">Карта сайта</a></li>
			<li id='find-a-store'><a href='#' class="generic-anchor footer-list-anchor" itemprop="significantLink">Условия пользования</a></li>
			<li id='find-a-store'><a href='#' class="generic-anchor footer-list-anchor" itemprop="significantLink">Политика конфединцыальности</a></li>
		</ul>		
		<section class="footer-bottom-section flex-rw">
			<div class="footer-bottom-wrapper">   
				<i class="fa fa-copyright" role="copyright">
				</i> 2019 Радиоклуб "Азимут" <address class="footer-address" role="company address">Львов, UA</address><span class="footer-bottom-rights"></span>
			</div>
			<div class="footer-bottom-wrapper"></div>
		</section>
	</footer>
	<div class="notifications"></div> 
</body>
</html>