<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="Description" content="Радиоклуб АЗИМУТ">
	<title><%= page.forgotpass.title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
	<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="/style/loader.css">
	<link rel="stylesheet" type="text/css" href="/style/global.css">
	<link rel="stylesheet" type="text/css" href="/style/global.min.css">
	<link rel="stylesheet" type="text/css" href="/style/forgotPassword/forgotPassword.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<script type="text/javascript" src="./data/header.json"></script>
	<script type="text/javascript" src="/script/jquery-3.2.1.js"></script>
	<script type="text/javascript" src="/script/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="/script/jquery-ui.js"></script>
	<script type="text/javascript" src="/script/jquery.cookie.js"></script>
	<script type="text/javascript" src="/script/index.js"></script>
	<script type="text/javascript" src="/script/forgotpass/script.js"></script>
	<script type="text/javascript" src="/script/socket.io.js"></script>
	<script type="text/javascript" src="/script/global.socket.js"></script>
	<% if(sessionUser === undefined){ %>
	<script type="text/javascript" src="/script/loginMethod.js"></script>	
	<% } %>
</head>
<body>	
	<%- include ./includes/mini_panel.ejs %>
	<div class="wrapper">
		<div id="loader-wrapper">
			<div id="loader">
				<div class="pulse"></div>
			</div>
			<div class="loader-section section-left"></div>
			<div class="loader-section section-right"></div>

		</div>
	</div>
	<header>	
		<canvas id="canvas"></canvas>
		<canvas id="spectr"></canvas>
		<img src="../../../img/logo1.png" id="logotype">		
		<h1><%= page.forgotpass.title %></h1>		
		<div class="toScroll">
			<div class="scroll-arrow"></div>
			<div class="scroll-arrow"></div>
			<div class="scroll-arrow"></div>
		</div>
		
		<div id="head_banner"><%= locator %></div>
		<nav> 
			<h1><%= page.forgotpass.title %></h1>	
			<div class="mobileWrapper">
				<a class="menu-2" data-menu="2"></a>
			</div>
			<a href="/"><%= page.top_menu[0] %></a>
			<a href="/about"><%= page.top_menu[1] %></a> 
			<a href="/news?page=1"><%= page.top_menu[2] %></a> 
			<a href="/VHF?page=1" class="menu_to_left"><%= page.top_menu[3] %></a> 
			<a href="/HF?page=1" class="menu_to_right"><%= page.top_menu[4] %></a> 
			<a href="https://forum.ur4wwr.org"><%= page.top_menu[5] %></a> 
			<a href="/market?page=1"><%= page.top_menu[6] %></a> 
			<a href="/contacts"><%= page.top_menu[7] %></a> 
		</nav>
	</header>
	<main class="wrapper">
		<div class="nav_menu left">
			<div class="nav_wrapper">
				<div class="wrapper_title"><%= page.navigation %></div>
				<div class="pre_line"></div>
				<%- include ./includes/left_nav.ejs %>					
			</div>
			<div class="nav_wrapper">
				<div class="wrapper_title"><%= page.information %></div>
				<div class="pre_line"></div>				
				<%- include ./includes/information.ejs %>
			</div>
		</div>
		<div class="nav_menu right usersnavmenu">
			<%- include ./includes/user_block.ejs %> 
			
			<div class="nav_wrapper" id="aprs_block">
				<div class="wrapper_title">APRS</div>
				<div class="pre_line"></div>
				<a class="none_text" href="https://www.aprsdirect.com/center/49.82786,24.03119/zoom/11/time/60" target="_blank">
					<img src="../../../img/aprs.png" width="228">
					<div class="a_btn"><%= page.openMap %></div>
				</a>
			</div>
		</div>


		<div class="navigator">
			<a href="/" id="nav_home" class="navigator_btn"><%= page.top_menu[0] %></a>
			<a href="/news" id="nav_forgot" class="navigator_btn selected_nav"><%= page.forgotpass.title %></a>
		</div>

		<div class="forgot_block">
			<h3><%= page.forgotpass.title %></h3>
			<div class="forgotBtn" id="forgot1" onclick="openForgot('forgot1')">
				<div>
					<%= page.forgotpass.restore %>
					<span><%= page.forgotpass.usingasecretword %></span>
				</div>	
				<div class="infoFP">
					<%= page.forgotpass.restore %> <%= page.forgotpass.usingasecretword %>
				</div>
				<div class="openesBlockForgot">
					<h2> <%= page.forgotpass.usingasecretword %></h2>
					<input type="text" name="forgText" placeholder="<%= page.forgotpass.youpoziv %>" id="pozivSecret">
					<input type="button" name="" value="<%= page.forgotpass.send %>" onclick="setForgotPass(0)">
				</div>				
			</div>
			
			<div class="forgotBtn" id="forgot2" onclick="openForgot('forgot2')">
				<div>
					<%= page.forgotpass.send %>
					<span><%= page.forgotpass.bymessage %></span>
				</div>	
				<div class="infoFP">
					<%= page.forgotpass.restore %> <%= page.forgotpass.bymessage %>
				</div>	
				<div class="openesBlockForgot">
					<h2><%= page.forgotpass.bymessage %></h2>
					<input type="text" name="forgText" placeholder="<%= page.forgotpass.youpoziv %>" id="pozivEmail">
					<input type="button" name="" value="<%= page.forgotpass.send %>" onclick="setForgotPass(1)">
				</div>		
			</div>
			
			

			<div class="forgot_rules">
				<div class="frt"><%= page.forgotpass.isimportanttoknow %>!</div>
				<%= page.forgotpass.isimportanttoknowtxt %>
			</div>
		</div>

			
		
	</main>

	<div id="stop" class="scrollTop"></div>
	<%- include ./includes/footer.ejs %>
	<div class="notifications"></div> 
</body>
</html>
