<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="Description" content="<%= TOVAR.Title %>">
  <title><%= TOVAR.Title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
  <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="/style/loader.css">
  <link rel="stylesheet" type="text/css" href="/style/global.css">
  <link rel="stylesheet" type="text/css" href="/style/global.min.css">
  <link rel="stylesheet" type="text/css" href="/style/news/news.css">
  <link rel="stylesheet" type="text/css" href="/style/swiper.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <script type="text/javascript" src="./data/header.json"></script>
  <script type="text/javascript" src="/script/jquery-3.2.1.js"></script>
  <script type="text/javascript" src="/script/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="/script/jquery-ui.js"></script>
  <script type="text/javascript" src="/script/jquery.cookie.js"></script>
  <script type="text/javascript" src="/script/swiper.js"></script>
  <script type="text/javascript" src="/script/index.js"></script>
  <script type="text/javascript" src="/script/socket.io.js"></script>
  <script type="text/javascript" src="/script/global.socket.js"></script>
  <script type="text/javascript" src="/script/gallery-slide.js"></script>

  <% if(sessionUser === undefined){ %>
  <script type="text/javascript" src="/script/loginMethod.js"></script> 
  <% } %>
  <style type="text/css">
    .section_data p {
      text-align: left;
      line-height: 26px;
      overflow: unset;
      margin: 20px 0 10px 0;
      border-top: 1px solid #c0c0c059;
      padding-top: 15px;
    }

    .typeMar{
      display: none;
    }
  </style>
</head>
<body>  
  <%- include ./includes/mini_panel.ejs %>
  <div class="wrapper">
    <div id="loader-wrapper">
      <div id="loader">
        <div class="pulse"></div>
      </div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>

    </div>
  </div>
  <header>  
    <canvas id="canvas"></canvas>
    <canvas id="spectr"></canvas>
    <img src="../../../img/logo1.png" id="logotype">    
    <h1><%= TOVAR.Title %></h1>    
    <div class="toScroll">
      <div class="scroll-arrow"></div>
      <div class="scroll-arrow"></div>
      <div class="scroll-arrow"></div>
    </div>
    <div id="head_banner"><%= locator %></div>
    <nav> 
      <h1>Радиоклуб <b>Азимут</b></h1>  
      <div class="mobileWrapper">
        <a class="menu-2" data-menu="2"></a>
      </div>
      <a href="/"><%= page.top_menu[0] %></a>
      <a href="/about"><%= page.top_menu[1] %></a> 
      <a href="/news?page=1"><%= page.top_menu[2] %></a> 
      <a href="/VHF?page=1" class="menu_to_left"><%= page.top_menu[3] %></a> 
      <a href="/HF?page=1" class="menu_to_right"><%= page.top_menu[4] %></a> 
      <a href="forum.ur4wwr.org"><%= page.top_menu[5] %></a> 
      <a href="/market?page=1"><%= page.top_menu[6] %></a> 
      <a href="/contacts"><%= page.top_menu[7] %></a>  
    </nav>
  </header>
  <main class="wrapper">
    <div class="nav_menu left">
      <div class="nav_wrapper">
        <div class="wrapper_title"><%= page.navigation %></div>
        <div class="pre_line"></div>
        <%- include ./includes/left_nav.ejs %> 
      </div>
      <div class="nav_wrapper">
        <div class="wrapper_title"><%= page.information %></div>
        <div class="pre_line"></div>        
        <%- include ./includes/information.ejs %>
      </div>
    </div>
    <div class="nav_menu right usersnavmenu">
      <%- include ./includes/user_block.ejs %> 
      
      <div class="nav_wrapper" id="aprs_block">
        <div class="wrapper_title">APRS</div>
        <div class="pre_line"></div>
        <a class="none_text" href="https://www.aprsdirect.com/center/49.82786,24.03119/zoom/11/time/60" target="_blank">
          <img src="../../../img/aprs.png" width="228">
          <div class="a_btn"><%= page.openMap %></div>
        </a>
      </div>
    </div>
    <div class="navigator">
      <a href="/" id="nav_home" class="navigator_btn">Главная</a>
      <a href="/market?page=1" id="nav_market" class="navigator_btn">Барахолка</a>
      <a href="#" id="nav_news" class="navigator_btn selected_nav"><%= TOVAR.Title %></a>
    </div>  
    <section id="section_0" class="section_data" style="box-shadow: none;">
      <h2><%= TOVAR.Title %></h2>

      <% if(edit && isAdm){ %>
      <a href="/editTovar?ai=<%= TOVAR.AI %>" class="editedTovarBtn">Редактировать</a>
      <% } %>

      <% if(TOVAR.Type === 'Куплю'){ %>
        <div class="typeMar kuplyu"><%= TOVAR.Type %></div>
      <% } %>

      <% if(TOVAR.Type === 'Продам'){ %>
        <div class="typeMar prodam"><%= TOVAR.Type %></div>
      <% } %>

      <% if(TOVAR.Type === 'Отдам'){ %>
        <div class="typeMar otdam"><%= TOVAR.Type %></div>
      <% } %>
         

      <p>
        <%= TOVAR.Description %>          
      </p>
      <div class="cashData">Цена: <%= TOVAR.Price %> ГРН</div>
      <div class="authorData">Автор объявления: <%= TOVAR.User %></div>
      <div class="dateMarDetails"><%= TOVAR.Date %></div>
      <% if(sessionUser === undefined){ %>
      <div class="NumberData" secret="null" onclick="modalAuth()">Нужно авторизироваться</div>
      <div class="EmailData" secret="null" onclick="modalAuth()">Нужно авторизироваться</div>

      <script type="text/javascript">
        var modalAuth = function(){
          $('#users_wraper').addClass('blink');
          $('html, body').animate({
            scrollTop: 0
          }, 800);                  
          setTimeout(function(){
            $('#users_wraper').removeClass('blink');
          },6000);
          return false;
        }
      </script>
      <% }else{ %>
      <a href="#">
        <div class="NumberData" secret="<%= TOVAR.Number %>" onclick="getSecret(this)">Показать номер +380...</div>
      </a>
      <a href="#">
        <div class="EmailData" secret="<%= TOVAR.Email %>" onclick="getSecret(this)">Показать E-Mail</div>
      </a>
      <script type="text/javascript">
        var getSecret = function(secret){
          $(secret).html($(secret).attr('secret'));
          if($(window).width() <= 812){
            if(secret.className === 'NumberData'){
              $(secret).parent().attr('href', 'tel:'+$(secret).attr('secret'));
            }else{
              $(secret).parent().attr('href', 'mailto:'+$(secret).attr('secret'));
            }   
          }

        };
      </script>
      <% } %>

      <div class="product-gallery">
        <div class="product-photo-main">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <% for(var ii = 0; ii < TOVAR.Images.length; ii++){ %>
              <div class="swiper-slide">
                <div class="swiper-zoom-container">
                  <img src="../../../data/tovar<%= TOVAR.Images[ii] %>">
                </div>
              </div>
              <% } %>           
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
        <div class="product-photos-side">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <% for(var ii = 0; ii < TOVAR.Images.length; ii++){ %>
              <div class="swiper-slide">
                <div class="swiper-zoom-container">
                  <img src="../../../data/tovar<%= TOVAR.Images[ii] %>">
                </div>
              </div>
              <% } %> 
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="product-gallery-full-screen">
    <div class="swiper-container gallery-top">
      <div class="swiper-wrapper">
        <% for(var ii = 0; ii < TOVAR.Images.length; ii++){ %>
        <div class="swiper-slide">
          <div class="swiper-zoom-container">
            <img src="../../../data/tovar<%= TOVAR.Images[ii] %>" draggable="false" ondragstart="return false;">
          </div>
        </div>
        <% } %> 
      </div>
      <div class="swiper-button-next swiper-button-white">
        <svg fill="#FFFFFF" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 0h24v24H0z" fill="none"/>
          <path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/>
        </svg>
      </div>
      <div class="swiper-button-prev swiper-button-white">
        <svg fill="#FFFFFF" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 0h24v24H0z" fill="none"/>
          <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"/>
        </svg>
      </div>
      <div class="gallery-nav">
        <div class="swiper-pagination"></div>
        <ul class="gallery-menu">
          <li class="zoom">
            <svg class="zoom-icon-zoom-in" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
              <path d="M0 0h24v24H0V0z" fill="none"/>
              <path d="M12 10h-2v2H9v-2H7V9h2V7h1v2h2v1z"/>
            </svg>
            <svg class="zoom-icon-zoom-out" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0V0z" fill="none"/>
              <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14zM7 9h5v1H7z"/>
            </svg>
          </li>
          <li class="fullscreen">
            <svg class="fs-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0z" fill="none"/>
              <path d="M7 14H5v5h5v-2H7v-3zm-2-4h2V7h3V5H5v5zm12 7h-3v2h5v-5h-2v3zM14 5v2h3v3h2V5h-5z"/>
            </svg>
            <svg class="fs-icon-exit" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0z" fill="none"/>
              <path d="M5 16h3v3h2v-5H5v2zm3-8H5v2h5V5H8v3zm6 11h2v-3h3v-2h-5v5zm2-11V5h-2v5h5V8h-3z"/>
            </svg>
          </li>
          <li class="close">
            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
              <path d="M0 0h24v24H0z" fill="none"/>
            </svg>
          </li>
        </ul>
      </div>


      
      <div class="section_date">
        <%= TOVAR.Date %>
        <span><%= TOVAR.User %></span>
      </div>
    </section>      
  </main>
  <div id="stop" class="scrollTop"></div>
  <%- include ./includes/footer.ejs %>
  <div class="notifications"></div> 
</body>
</html>