<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="Description" content="<%= NEWS.title %>">
	<title><%= NEWS.title[numberLanguage] %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
	<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="/style/loader.css">
	<link rel="stylesheet" type="text/css" href="/style/global.css">
	<link rel="stylesheet" type="text/css" href="/style/global.min.css">
	<link rel="stylesheet" type="text/css" href="/style/news/news.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<script type="text/javascript" src="./data/header.json"></script>
	<script type="text/javascript" src="/script/jquery-3.2.1.js"></script>
	<script type="text/javascript" src="/script/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="/script/jquery-ui.js"></script>
	<script type="text/javascript" src="/script/jquery.cookie.js"></script>
	<script type="text/javascript" src="/script/index.js"></script>
	<script type="text/javascript" src="/script/socket.io.js"></script>
	<script type="text/javascript" src="/script/global.socket.js"></script>
	<% if(sessionUser === undefined){ %>
	<script type="text/javascript" src="/script/loginMethod.js"></script>	
	<% } %>
	<style type="text/css">
	.section_data h2 {
		margin-top: 0px;
		line-height: 40px;
	}
</style>
</head>
<body>	
	<%- include ./includes/mini_panel.ejs %>
	<div class="wrapper">
		<div id="loader-wrapper">
			<div id="loader">
				<div class="pulse"></div>
			</div>
			<div class="loader-section section-left"></div>
			<div class="loader-section section-right"></div>

		</div>
	</div>
	<header>	
		<canvas id="canvas"></canvas>
		<canvas id="spectr"></canvas>
		<img src="../../../img/logo1.png" id="logotype">		
		<h1><%= NEWS.title[numberLanguage] %></h1>	
		<div class="toScroll">
			<div class="scroll-arrow"></div>
			<div class="scroll-arrow"></div>
			<div class="scroll-arrow"></div>
		</div>	
		<div id="head_banner"><%= locator %></div>
		<nav> 
			<h1><%= NEWS.title[numberLanguage] %></h1>	
			<div class="mobileWrapper">
				<a class="menu-2" data-menu="2"></a>
			</div>
			<a href="/"><%= page.top_menu[0] %></a>
			<a href="/about"><%= page.top_menu[1] %></a> 
			<a href="/news?page=1"><%= page.top_menu[2] %></a> 
			<a href="/VHF?page=1" class="menu_to_left"><%= page.top_menu[3] %></a> 
			<a href="/HF?page=1" class="menu_to_right"><%= page.top_menu[4] %></a> 
			<a href="#"><%= page.top_menu[5] %></a> 
			<a href="/market?page=1"><%= page.top_menu[6] %></a> 
			<a href="/contacts"><%= page.top_menu[7] %></a> 
		</nav>
	</header>
	<main class="wrapper">
		<div class="nav_menu left">
			<div class="nav_wrapper">
				<div class="wrapper_title"><%= page.navigation %></div>
				<div class="pre_line"></div>
				<%- include ./includes/left_nav.ejs %>				
			</div>
			<div class="nav_wrapper">
				<div class="wrapper_title"><%= page.information %></div>
				<div class="pre_line"></div>				
				<%- include ./includes/information.ejs %>
			</div>
		</div>
		<div class="nav_menu right usersnavmenu">
			<%- include ./includes/user_block.ejs %> 
			
			<div class="nav_wrapper" id="aprs_block">
				<div class="wrapper_title">APRS</div>
				<div class="pre_line"></div>
				<a class="none_text" href="https://www.aprsdirect.com/center/49.82786,24.03119/zoom/11/time/60" target="_blank">
					<img src="../../../img/aprs.png" width="228">
					<div class="a_btn"><%= page.openMap %></div>
				</a>
			</div>
		</div>
		<div class="navigator">
			<a href="/" id="nav_home" class="navigator_btn"><%= page.top_menu[0] %></a>

			<% if(NEWS.type === 'ALL'){ %>
			<a href="/news?page=1" id="nav_news" class="navigator_btn"><%= page.news.title %></a>
			<% } %>
			<% if(NEWS.type === 'VHF'){ %>
			<a href="/VHF?page=1" id="nav_news" class="navigator_btn">VHF</a>
			<% } %>
			<% if(NEWS.type === 'HF'){ %>
			<a href="/HF?page=1" id="nav_news" class="navigator_btn">HF</a>
			<% } %>
			<% if(NEWS.type === 'NUMERIC'){ %>
			<a href="/numeral?page=1" id="nav_news" class="navigator_btn"><%= page.numeral.title %></a>
			<% } %>
			<% if(NEWS.type === 'OTHERS'){ %>
			<a href="/others?page=1" id="nav_news" class="navigator_btn"><%= page.others.title %></a>
			<% } %>
			
			
			<a href="#" id="nav_news" class="navigator_btn selected_nav"><%= NEWS.title[numberLanguage] %></a>
		</div>	
		<section id="section_0" class="section_data">
			<h2><%= NEWS.title[numberLanguage] %></h2>
			<textarea class="hideText" id="textNone" style="display: none;">
				<%= NEWS.TEXT[numberLanguage] %>
			</textarea>
			<p>
				<% if(NEWS.NEWS_LOGO !== undefined){ %>
				<img class="alignleft size-thumbnail wp-image-622" src="<%= NEWS.NEWS_LOGO %>" alt="" width="150" height="104">
				<% } %>
				<script type="text/javascript">
					$("#section_0 p").append($("#textNone").val());
				</script>								
			</p>
			<% for(var ii = 0; ii < NEWS.CONTENT_IMAGE.length; ii++){ %>
			<img src="<%= NEWS.CONTENT_IMAGE[ii] %>">
			<% } %>
			
			<div class="section_date">
				<%= NEWS.DATE %>
				<span><%= NEWS.AUTHOR %></span>
			</div>

			<div class="comments">	
				<% if(sessionUser !== undefined){ %>
				<div class="comment-wrap">
					<div class="loader_new_comment"></div>						
					<div class="comment-block">
						<form action="">
							<textarea name="newComment" id="newComment" cols="30" rows="3" placeholder="Написать комментарий..."></textarea>
							<script type="text/javascript">
								$('#newComment').on('keyup', function(){
									if($('#newComment').val().length > 3){
										$('.sendComment').fadeIn(300);
									}else{
										$('.sendComment').fadeOut(300);
									}
								});
							</script>
							<div class="sendComment" >Отправить</div>
						</form>
					</div>
				</div>
				<% } else { %>
				<div class="noneCommentAuth">
					<div class="noneCommentAuthText">
						Для того чтобы оставлять комментарии нужно <a href="#" onclick="modalAuth()">авторизироватся</a>!
					</div>
				</div>

				<script type="text/javascript">
					var modalAuth = function(){
						$('#users_wraper').addClass('blink');
						$('html, body').animate({
							scrollTop: 0
						}, 800);							  	
						setTimeout(function(){
							$('#users_wraper').removeClass('blink');
						},6000);
						return false;
					}
				</script>
				<% } %>    

				<% for(var ii = 0; ii < COMMENTS.length; ii++){ %>
				<div class="comment-wrap">			
					<div class="comment-block">
						<p class="comment-text"><%= COMMENTS[ii].text %></p>
						<div class="bottom-comment">
							<div class="comment-date"><%= COMMENTS[ii].date %></div>
						</div>
						<div class="commentAuthor"><%= COMMENTS[ii].user %></div>
					</div>
				</div>
				<% } %>			
			</div>			
		</div>
	</section>			
</main>
<div id="stop" class="scrollTop"></div>
<%- include ./includes/footer.ejs %>
<div class="notifications"></div> 
</body>
</html>