<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="Description" content="Радиоклуб АЗИМУТ">
	<title><%= page.profilepage.title %> (<%= sessionPoziv %>)</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
	<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="/style/loader.css">
	<link rel="stylesheet" type="text/css" href="/style/global.css">
	<link rel="stylesheet" type="text/css" href="/style/global.min.css">
	<link rel="stylesheet" type="text/css" href="/style/profile/profile.css">
	<link rel="stylesheet" type="text/css" href="/style/profile/profile.min.css">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

	<script type="text/javascript" src="./data/header.json"></script>
	<script type="text/javascript" src="/script/jquery-3.2.1.js"></script>
	<script type="text/javascript" src="/script/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="/script/jquery-ui.js"></script>
	<script type="text/javascript" src="/script/jquery.cookie.js"></script>
	<script type="text/javascript" src="/script/socket.io.js"></script>
	<script type="text/javascript" src="/script/index.js"></script>
	<script type="text/javascript" src="/script/socket.io.js"></script>
	<script type="text/javascript" src="/script/global.socket.js"></script>
	<script type="text/javascript" src="/script/profile/profile.js"></script>
</head>
<body>
	<%- include ./includes/mini_panel.ejs %>
	<div class="wrapper">
		<div id="loader-wrapper">
			<div id="loader">
				<div class="pulse"></div>
			</div>
			<div class="loader-section section-left"></div>
			<div class="loader-section section-right"></div>

		</div>
	</div>
	<header>	
		<canvas id="canvas"></canvas>
		<canvas id="spectr"></canvas>
		<a href="/">
			<img src="../../../img/logo1.png" id="logotype">
		</a>				
		<h1><%= page.profilepage.title %> (<%= sessionPoziv %>)</h1>		
		<div class="toScroll">
			<div class="scroll-arrow"></div>
			<div class="scroll-arrow"></div>
			<div class="scroll-arrow"></div>
		</div>
		
		<div id="head_banner"><%= locator %></div>
		<nav> 
			<h1><%= page.profilepage.title %> (<%= sessionPoziv %>)</h1>	
			<div class="mobileWrapper">
				<a class="menu-2" data-menu="2"></a>
			</div>
			<a href="/"><%= page.top_menu[0] %></a>
			<a href="/about"><%= page.top_menu[1] %></a> 
			<a href="/news?page=1"><%= page.top_menu[2] %></a> 
			<a href="/VHF?page=1" class="menu_to_left"><%= page.top_menu[3] %></a> 
			<a href="/HF?page=1" class="menu_to_right"><%= page.top_menu[4] %></a> 
			<a href="#"><%= page.top_menu[5] %></a> 
			<a href="/market?page=1"><%= page.top_menu[6] %></a> 
			<a href="/contacts"><%= page.top_menu[7] %></a>  
		</nav>
	</header>
	<main class="wrapper">
		<div class="nav_menu left">
			<div class="nav_wrapper">
				<div class="wrapper_title"><%= page.navigation %></div>
				<div class="pre_line"></div>
				<%- include ./includes/left_nav.ejs %>				
			</div>
			<div class="nav_wrapper">
				<div class="wrapper_title"><%= page.information %></div>
				<div class="pre_line"></div>				
				<%- include ./includes/information.ejs %>
			</div>
		</div>
		<div class="nav_menu right">			
			<%- include ./includes/user_block.ejs %>
			

			<div class="nav_wrapper">
				<div class="wrapper_title">APRS</div>
				<div class="pre_line"></div>
				<a class="none_text" href="https://www.aprsdirect.com/center/49.82786,24.03119/zoom/11/time/60" target="_blank">
					<img src="../../../img/aprs.png" width="228">
					<div class="a_btn"><%= page.openMap %></div>
				</a>
			</div>
		</div>

		<div class="navigator">
			<a href="/" id="nav_home" class="navigator_btn"><%= page.top_menu[0] %></a>
			<a href="#" id="nav_about" class="navigator_btn selected_nav"><%= page.profilepage.title %> (<%= sessionPoziv %>)</a>
		</div>	

		<section id="section_01" class="section_data">
			<div class="profile_navigator">
				<div class="PN_Nav_btn active" onclick="clickTab(this)"><%= page.profilepage.personalinformation %></div>
				<div class="PN_Nav_btn" onclick="clickTab(this)"><%= page.profilepage.privacy %></div>
				<div class="PN_Nav_btn" onclick="clickTab(this)"><%= page.profilepage.fleamarket %></div>
				<div class="PN_Nav_btn" onclick="clickTab(this)"><%= page.profilepage.messages %><span>•</span></div>
			</div>

			<div class="tabs-block">
				<div class="TAB visible">
					<% if(USER.official){ %>
					<div class="authificate" title="Аккаунт подтвержден"></div>
					<% } %>		
					<% if(isAdm){ %>
					<div class="isadminicon" title="Администратор"></div>
					<% } %>			
					<div class="fullBlock" style="box-shadow: inset -40px 0px 0px 0px #716ba5;">
						<div class="avatara_big" style="background-image: url(../../../data/avatars/<%= USER.ava %>)">
							<div class="newInfo">Файл не должен привышать 1мб</div>
							<div class="newAvatar" onclick="selectAvatar()">Выбрать файл</div>
							<input type="file" id="tFile" style="display: none;">
						</div>

						<div class="dataText tName">Ваше имя: <input type="text" name="username" id="myUserName" value="<%= USER.name %>"></div>
						<div class="dataText tPoziv">Ваш позывной: <%= USER.pozivnoy %></div>
						<div class="dataText tMail">Ваш e-mail: <input type="text" name="username" value="<%= USER.email %>" id="myUserEmail"></div>
						<div class="dataText tNumb">Ваш телефон: <input type="text" name="username" value="<%= USER.phone_number %>" id="myUserPhone"></div>

						<div class="socialUserBtn" id="forMyVK"></div>
						<div class="socialUserBtn" id="forMyInsta"></div>
						<div class="socialUserBtn" id="forMyFacebook"></div>
					</div>

					<div class="fullBlock" style="margin-top: 15px;">
						<div class="paramTitle">Вкратце обо мне</div>
						<textarea id="textMe"><%= USER.text %></textarea>
					</div>			
					<div class="saveBtn" onclick="saveMyInfo()">Сохранить</div>
				</div>
				<div class="TAB">
					<div class="fullBlock">
						<div class="fullBlockLoader"></div>
						<div class="switch_line">
							<% var aPar1 = USER.isOnline %>
							<label class="switch <% if(aPar1){ %>checked<% } %>">
								<i class="icon-ok"></i>
								<i class="icon-remove"></i>
								<% if(aPar1){ %>
									<input type="checkbox" onchange="setParam(1, true, this)">
								<% }else{ %>
									<input type="checkbox" onchange="setParam(1, false, this)" checked>
								<% } %>
								
							</label>

							<div class="switch_text">Отображатся онлайн</div>

						</div>

						<div class="switch_line">
							<% var aPar2 = USER.isPozivnoy %>
							<label class="switch <% if(aPar2){ %>checked<% } %>">
								<i class="icon-ok"></i>
								<i class="icon-remove"></i>
								<% if(aPar2){ %>
									<input type="checkbox" onchange="setParam(2, true, this)">
								<% }else{ %>
									<input type="checkbox" onchange="setParam(2, false, this)" checked>
								<% } %>
							</label>
							<div class="switch_text">Показывать мой позывной</div>
						</div>

						<div class="switch_line">
							<% var aPar3 = USER.isProfile %>
							<label class="switch <% if(aPar3){ %>checked<% } %>">
								<i class="icon-ok"></i>
								<i class="icon-remove"></i>
								<% if(aPar3){ %>
									<input type="checkbox" onchange="setParam(3, true, this)">
								<% }else{ %>
									<input type="checkbox" onchange="setParam(3, false, this)" checked>
								<% } %>
							</label>
							<div class="switch_text">Показывать мой профиль</div>
						</div>

						<div class="switch_line ">
							<% var aPar4 = USER.isMessage %>
							<label class="switch <% if(aPar4){ %>checked<% } %>">
								<i class="icon-ok"></i>
								<i class="icon-remove"></i>
								<% if(aPar4){ %>
									<input type="checkbox" onchange="setParam(4, true, this)">
								<% }else{ %>
									<input type="checkbox" onchange="setParam(4, false, this)" checked>
								<% } %>
							</label>
							<div class="switch_text">Разрешить сообщения</div>
						</div>

						<div class="switch_line ">
							<% var aPar5 = USER.isFriend %>
							<label class="switch <% if(aPar5){ %>checked<% } %>">
								<i class="icon-ok"></i>
								<i class="icon-remove"></i>
								<% if(aPar5){ %>
									<input type="checkbox" onchange="setParam(5, true, this)">
								<% }else{ %>
									<input type="checkbox" onchange="setParam(5, false, this)" checked>
								<% } %>
							</label>
							<div class="switch_text">Разрешить подписки</div>
						</div>

						<div class="switch_line">
							<% var aPar6 = USER.isSecurity %>
							<label class="switch <% if(aPar6){ %>checked<% } %>">
								<i class="icon-ok"></i>
								<i class="icon-remove"></i>
								<% if(aPar6){ %>
									<input type="checkbox" onchange="setParam(6, true, this)">
								<% }else{ %>
									<input type="checkbox" onchange="setParam(6, false, this)" checked>
								<% } %>
							</label>
							<div class="switch_text">Двухетапная авторизация</div>
						</div>
					</div>
					<div class="fullBlock">
						<h3>Изменить пароль</h3>
						<div class="passLine">
							<label>Старый пароль</label>
							<input type="password" name="oldpass" id="oldpass" class="passRep"> 
						</div>
						<div class="passLine">
							<label>Новый пароль</label>
							<input type="password" name="newpass" id="newpass" class="passRep">
						</div>
						<div class="passLine">
							<label>Новый пароль</label>
							<input type="password" name="reppass" id="reppass" class="passRep">
						</div>
						
					</div>
					<div class="saveBtn" onclick="changepass($('#oldpass').val(),$('#newpass').val(),$('#reppass').val())">Применить</div>
					
				</div>
				<div class="TAB">
					<div class="mini_title">Тут отображается список ваших объявлений</div>
					<a href="/newtovar" target="_blank"><div class="addNewTovar" id="addNewTovar"><%= page.postads %></div></a>
					<div class="fullBlock" style="padding-top: 30px; overflow: scroll; overflow-x: hidden; height: 100%; margin-top: 20px;">
						<% if(tovar.length > 0){ %>
						<% for(var i = 0; i < tovar.length; i++){ %>
						<!-- <a href="/getDetailsTovar?AI=<%= tovar[i].AI %>" target="_blank"> -->
							<section id="section_<%= i %>" class="tovarData">				
								<div class="preImage" style="background-image: url(<%= tovar[i].Images[0] %>)"></div>
								<h4><%= tovar[i].Title %></h4>
								<div class="description"><%= tovar[i].Description %></div>
								<% if(tovar[i].Type === 'Куплю'){ %>
								<div class="typeMar"><%= tovar[i].Type %></div>
								<% } else { %>
								<div class="typeMar prodam"><%= tovar[i].Type %></div>
								<% } %>
								<div class="dateMar"><%= tovar[i].Date %></div>
								<div class="statusTovar <%= tovar[i].status %>"></div>
								<button class="removeTovar" onclick="setParamTovar('<%= tovar[i].AI %>', 0)">Удалить</button>
								<a href="/getDetailsTovar?AI=<%= tovar[i].AI %>" target="_blank" style="position: absolute; bottom: 20px; left: 50%; color: red;">Перейти к объявлению...</a>
							</section>
						<!-- 	</a>		 -->
						<% } %>
						<% }else{ %>
						<h2 style="margin-top: 20px">У вас нет объявлений</h2>
						<% } %>								
					</div>
				</div>
				<div class="TAB">
					<div class="modal__content chat">
						<div class="modal__sidebar">
							<div class="chat__search search">
								<div class="search">
									<div class="search__icon">
										<i class="fa fa-search" aria-hidden="true"></i>
									</div>
									<input type="search" class="search__input" placeholder="Быстрый поиск">
									<div class="search__icon search__icon_right">
										<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
									</div>
								</div>
							</div>
							<div class="chat__users">
								<!-- TO DO users__item_group -->
								<ul class="users">
									<% if(FRIEND.length > 0){ %>
									<% for(var i = 0; i < FRIEND.length; i++){ %>
									<li class="users__item " usres="<%= FRIEND[i].pozivnoy %>" onclick="openDialog('<%= FRIEND[i].pozivnoy %>')">
										<div class="users__avatar avatar">
											<a href="#" class="avatar__wrap">
												<img src="../../../data/avatars/<%= FRIEND[i].ava %>">												
											</a>
											<span  title="В сети" class="onlineIndicator <%= FRIEND[i].pozivnoy %>">•</span>
										</div>
										<span class="users__note"><%= FRIEND[i].name %> (<%= FRIEND[i].pozivnoy %>)</span>
										<div class="writingMessage">
											Собеседник набирает сообщение...
										</div>									
									</li>
									<% } %>
									<% }else{ %>
									У вас нет контактов
									<% } %>									
								</ul>
							</div>
						</div>

						<div class="modal__main">
							<div class="chatbox">
								<div class="chatbox__row">
									<div class="head">
										<div class="head__avatar avatar avatar_larger">
											<a href="#" class="avatar__wrap"></a>
										</div>
										<div class="head__title">...</div>
									</div>
								</div>
								<div class="chatbox__row chatbox__row_fullheight">
									<div class="noneOpenDlg">
										<h2>Сообщения</h2>
										<small>(Тут будут отображатся ваши диалоги)</small>
									</div>
									<div class="dlgLoader"></div>
									<div class="chatbox__content" id="chatbox__content" style="display: none;">
										<div class="writingMessage">
											<div class="writingPreloader">
								                <span></span>
								                <span></span>
								                <span></span>
								                <span></span>
								                <span></span>
								            </div>
											Собеседник набирает сообщение...
										</div>
									</div>
								</div>
								<div class="newTovarModal">
									
								</div>
								<div class="chatbox__row">
									<div class="enter">
										<div class="enter__submit">
											<button class="button button_id_submit" type="submit" onclick="sendMessage()"></button>
										</div>
										<div class="enter__textarea">
											<textarea name="enterMessage" id="enterMessage" cols="30" rows="2" placeholder="ведите ваше сообщение..." onkeyup="writingMessage()"></textarea>
										</div>
										<div class="enter__icons">
											<a href="#" class="enter__icon">
												<i class="fa fa-paperclip" aria-hidden="true"></i>
											</a>
											<a href="#" class="enter__icon">
												<i class="fa fa-smile-o" aria-hidden="true"></i>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</section>	
	</main>
	<div id="stop" class="scrollTop"></div>
	<%- include ./includes/footer.ejs %>
	<div class="notifications"></div> 
</body>
</html>