<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Управление базой данных</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/metisMenu.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/slicknav.min.css">
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <!-- others css -->
    <link rel="stylesheet" href="assets/css/typography.css">
    <link rel="stylesheet" href="assets/css/default-css.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <!-- modernizr css -->
    <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <div class="page-container">
        <div class="sidebar-menu">
            <div class="sidebar-header">
                <div class="logo">
                    <h3 style="color: white;">Админка</h3>
                </div>
            </div>
            <div class="main-menu">
                <div class="menu-inner">
                    <nav>
                        <ul class="metismenu" id="menu">         
                            <li><a href="/PanelIndex"><i class="fa fa-home"></i> <span>Главная</span></a></li>   
                            <li>
                                <a href="javascript:void(0)" aria-expanded="false"><i class="fa fa-info"></i><span>О нас</span></a>
                                <ul class="collapse" style="height: 0px;">
                                    <li><a href="/PanelAbout">Информация</a></li>
                                    <li><a href="/PanelGallery">Фотогалерея</a></li>
                                    <li><a href="/PanelContacts">Контакты</a></li>
                                </ul>
                            </li>          
                            <li><a href="/PanelMarket"><i class="fa fa-shopping-cart"></i><span>Барахолка</span></a></li>                            
                            <li>
                                <a href="javascript:void(0)" aria-expanded="false"><i class="fa fa-newspaper-o"></i><span>Новости</span></a>
                                <ul class="collapse" style="height: 0px;">
                                    <li><a href="/PanelNews?page=1">Новости</a></li>
                                    <li><a href="/PanelVHF?page=1">VHF</a></li>
                                    <li><a href="/PanelHF?page=1">HF</a></li>
                                    <li><a href="/PanelNumeral?page=1">Цифра</a></li>
                                    <li><a href="/PanelOthers?page=1">Разное</a></li>
                                </ul>
                            </li>
                            <li><a href="/PanelRoundTables"><i class="fa fa-language"></i><span>Круглые столы</span></a></li>
                            <li><a href="/PanelLanguage"><i class="fa fa-language"></i><span>Локализация</span></a></li>
                            <li><a href="/PanelCalendar"><i class="fa fa-calendar"></i><span>Календарь</span></a></li> 
                            <li><a href="/PanelTechnical?page=1"><i class="fa fa-cubes"></i><span>Технический раздел</span></a></li>
                            <li><a href="/PanelUsers"><i class="fa fa-users"></i><span>Пользователи</span></a></li>  
                            <li class="active">
                                <a href="javascript:void(0)" aria-expanded="false"><i class="fa fa-gear"></i><span>Система</span></a>
                                <ul class="collapse">
                                    <li><a href="#">Настройки</a></li>
                                    <li class="active"><a href="/PanelDB">База данных</a></li>
                                </ul>
                            </li> 
                            <li><a href="/" target="_blank" style="color: #e9eabf;"><i class="fa fa-desktop"  style="color: #e9eabf;"></i><span style="color: #e9eabf;">Вернутся на сайт</span></a></li>
                            <li><a href="#" style="color: red;" data-toggle="modal" data-target="#devmessagemodal"><i class="fa fa-exclamation" style="color: red;"></i><span style="color: red;">Пожаловатся разработчику</span></a></li>
                            
                      </ul>
                  </nav>
              </div>
          </div>
      </div>
      <div class="main-content">
        <div class="header-area">
            <div class="row align-items-center">
                <div class="col-md-6 col-sm-8 clearfix">
                    <div class="nav-btn pull-left">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="search-box pull-left">
                        <form action="#">
                            <input type="text" name="search" placeholder="Search..." required>
                            <i class="ti-search"></i>
                        </form>
                    </div>
                </div>
                <div class="col-md-6 col-sm-4 clearfix">
                    <ul class="notification-area pull-right">
                        <li id="full-view"><i class="ti-fullscreen"></i></li>
                        <li id="full-view-exit"><i class="ti-zoom-out"></i></li>
                        <li class="dropdown">
                            <%- include ./panel_includes/panel_notify.ejs %> 
                        </li>                            
                    </ul>
                </div>
            </div>
        </div>
        <div class="page-title-area">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <div class="breadcrumbs-area clearfix">
                        <h4 class="page-title pull-left">Управление базой данных</h4>
                    </div>
                </div>
                <div class="col-sm-6 clearfix">
                    <%- include ./panel_includes/panel_session.ejs %> 
                </div>
            </div>
        </div>
        <div class="main-content-inner">
          <!-- Тут будет контент -->
          <div class="row">
                <div class="col-lg-6 col-ml-12">
                    <div class="row">
                        <!-- Textual inputs start -->
                        <div class="col-12 mt-5">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="header-title">Подключение к базе</h4>
                                    <p class="text-muted font-14 mb-4">Настройки параметров базы данных</p>

                                    <div class="form-group">
                                        <label for="example-text-input" class="col-form-label">IP адресс базы</label>
                                        <input class="form-control" type="text" id="example-text-input" value="<%= PARAMS.database_ip %>">
                                    </div>    

                                    <div class="form-group">
                                        <label for="example-text-input1" class="col-form-label">Порт адресс базы</label>
                                        <input class="form-control" type="text" id="example-text-input1" value="<%= PARAMS.database_port %>">
                                    </div>    

                                    <div class="form-group">
                                        <label for="example-text-input2" class="col-form-label">Название базы</label>
                                        <input class="form-control" type="text" id="example-text-input2" value="<%= PARAMS.database_name %>">
                                    </div>                             
                                    
                                    <div class="form-group">
                                        <label for="example-text-input3" class="col-form-label">Логин</label>
                                        <input class="form-control" type="text" id="example-text-input3" value="<%= PARAMS.database_nick %>">
                                    </div> 

                                    <div class="form-group">
                                        <label for="example-text-input4" class="col-form-label">Пароль</label>
                                        <input class="form-control" type="text" id="example-text-input4" value="<%= PARAMS.databale_password %>">
                                    </div>   

                                    <button type="button" class="btn btn-success mb-2 col-12" onclick="saveDBParams()">Сохранить</button>
                                 
                                </div>
                            </div>
                        </div>
                        <!-- Textual inputs end -->
                    </div>
                </div>
            </div>
      </div>
  </div>
  <%- include ./panel_includes/dev_message.ejs %>
  <%- include ./panel_includes/panel_footer.ejs %>
</div>
<script src="assets/js/vendor/jquery-2.2.4.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/metisMenu.min.js"></script>
<script src="assets/js/jquery.slimscroll.min.js"></script>
<script src="assets/js/jquery.slicknav.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://cdn.zingchart.com/zingchart.min.js"></script>
<script>
    zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
    ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "ee6b7db5b51705a13dc2339db3edaf6d"];
</script>
<script src="assets/js/line-chart.js"></script>
<script src="assets/js/pie-chart.js"></script>
<script src="assets/js/plugins.js"></script>
<script src="assets/js/scripts.js"></script>
<script src="assets/js/methods.js"></script>
<script type="text/javascript">
    var posivka = '<%= sessionPoziv %>';
    $.post('/getUserAva', {user: posivka},function(res){
        $('#AVATAR').attr({"src":"../../../data/avatars/"+res.ava})
    });
</script>
</body>

</html>
