<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Управление другими новостями</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/metisMenu.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/slicknav.min.css">
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <!-- others css -->
    <link rel="stylesheet" href="assets/css/typography.css">
    <link rel="stylesheet" href="assets/css/default-css.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <!-- modernizr css -->
    <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="assets/js/vendor/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="/script/pagination.full.min.js"></script>
</head>

<body>
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <div class="page-container">
        <div class="sidebar-menu">
            <div class="sidebar-header">
                <div class="logo">
                    <h3 style="color: white;">Админка</h3>
                </div>
            </div>
            <div class="main-menu">
                <div class="menu-inner">
                    <nav>
                        <ul class="metismenu" id="menu">         
                            <li><a href="/PanelIndex"><i class="fa fa-home"></i> <span>Главная</span></a></li>     
                            <li>
                                <a href="javascript:void(0)" aria-expanded="false"><i class="fa fa-info"></i><span>О нас</span></a>
                                <ul class="collapse" style="height: 0px;">
                                    <li><a href="/PanelAbout">Информация</a></li>
                                    <li><a href="/PanelGallery">Фотогалерея</a></li>
                                    <li><a href="/PanelContacts">Контакты</a></li>
                                </ul>
                            </li>         
                            <li><a href="/PanelMarket"><i class="fa fa-shopping-cart"></i><span>Барахолка</span></a></li>                            
                            <li class="active">
                                <a href="javascript:void(0)" aria-expanded="true"><i class="fa fa-newspaper-o"></i><span>Новости</span></a>
                                <ul class="collapse">
                                    <li><a href="/PanelNews?page=1">Новости</a></li>                                   
                                    <li><a href="/PanelVHF?page=1">VHF</a></li>
                                    <li><a href="/PanelHF?page=1">HF</a></li>
                                    <li><a href="/PanelNumeral?page=1">Цифра</a></li>
                                    <li class="active"><a href="/PanelOthers?page=1">Разное</a></li>
                                </ul>
                            </li>
                            <li><a href="/PanelRoundTables"><i class="fa fa-language"></i><span>Круглые столы</span></a></li>
                            <li><a href="/PanelLanguage"><i class="fa fa-language"></i><span>Локализация</span></a></li>                            
                            <li><a href="/PanelCalendar"><i class="fa fa-calendar"></i><span>Календарь</span></a></li> 
                            <li><a href="/PanelTechnical?page=1"><i class="fa fa-cubes"></i><span>Технический раздел</span></a></li>
                            <li><a href="/PanelUsers"><i class="fa fa-users"></i><span>Пользователи</span></a></li>
                            <li>
                                <a href="javascript:void(0)" aria-expanded="false"><i class="fa fa-gear"></i><span>Система</span></a>
                                <ul class="collapse" style="height: 0px;">
                                    <li><a href="#">Настройки</a></li>
                                    <li><a href="/PanelDB">База данных</a></li>
                                </ul>
                            </li>
                            <li><a href="/" target="_blank" style="color: #e9eabf;"><i class="fa fa-desktop"  style="color: #e9eabf;"></i><span style="color: #e9eabf;">Вернутся на сайт</span></a></li>
                            <li><a href="#" style="color: red;" data-toggle="modal" data-target="#devmessagemodal"><i class="fa fa-exclamation" style="color: red;"></i><span style="color: red;">Пожаловатся разработчику</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="main-content">
            <div class="header-area">
                <div class="row align-items-center">
                    <div class="col-md-6 col-sm-8 clearfix">
                        <div class="nav-btn pull-left">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="search-box pull-left">
                            <form action="#">
                                <input type="text" name="search" placeholder="Search..." required>
                                <i class="ti-search"></i>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-4 clearfix">
                        <ul class="notification-area pull-right">
                            <li id="full-view"><i class="ti-fullscreen"></i></li>
                            <li id="full-view-exit"><i class="ti-zoom-out"></i></li>
                            <li class="dropdown">
                                <%- include ./panel_includes/panel_notify.ejs %> 
                            </li>                        
                        </ul>
                    </div>
                </div>
            </div>
            <div class="page-title-area">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <div class="breadcrumbs-area clearfix">
                            <h4 class="page-title pull-left">Разное</h4>
                        </div>
                    </div>
                    <div class="col-sm-6 clearfix">
                        <%- include ./panel_includes/panel_session.ejs %> 
                    </div>
                </div>
            </div>
            <div class="main-content-inner">
              <!-- Тут будет контент -->
              <div class="row">
                <a class="btn btn-primary col-lg-12 mt-2 mb-2" href="/newNews">Создать новость</a>
                <div id="accordion1" class="according accordion-s3 gradiant-bg col-lg-12 mt-3">
                    <% if(othersData.length > 0){ %>
                    <% for(var i = 0; i < othersData.length; i++) { %>
                    <div class="card">
                        <div class="card-header">
                            <a class="collapsed card-link" data-toggle="collapse" href="#accordion<%= othersData[i].AI %>a">• <%= othersData[i].title[0] %> <small>(<%= othersData[i].DATE %>)</small></a>
                        </div>
                        <div id="accordion<%= othersData[i].AI %>a" class="collapse" data-parent="#accordion1">
                            <div class="card-body">
                                <textarea class="hideText" id="text<%= i %>" style="display: none;">
                                    <%= othersData[i].TEXT[0] %>
                                </textarea>
                                <p>
                                    <% if(othersData[i].NEWS_LOGO !== undefined) { %>
                                    <img class="img-fluid mr-4" src="<%= othersData[i].NEWS_LOGO %>" alt="image" style="max-width: 140px; max-height: 120px;">
                                    <% } %>
                                    <script type="text/javascript">
                                        console.log($("#text<%= i %>").val())
                                        $("#accordion<%= newsData[i].AI %>a .card-body p").append($("#text<%= i %>").val());
                                    </script>
                                </p>
                                <div class="media">
                                    <div class="col-lg-6 mt-3">
                                        <button type="submit" class="btn btn-danger col-lg-12 mb-3" onclick="removeNews('<%= othersData[i].AI %>', this)">Удалить</button>
                                    </div>
                                    <div class="col-lg-6 mt-3">
                                        <a href="/editNews?news=<%= othersData[i].AI %>" class="btn btn-success col-lg-12 mb-3">Редактировать</a>
                                    </div>
                                </div>    
                            </div>
                        </div>
                    </div>                    
                    <% } %>
                    <% }else{ %>
                    <div class="alert alert-primary col-lg-12" role="alert">
                        <h4 class="alert-heading">Новости данного типа отстутствуют!</h4>
                        <p>Как видно новости в данной категории отсутствуют</p>
                        <hr>
                        <p class="mb-0">Вы можете <a href="/newNews">Создать новость</a></p>
                    </div>
                    <% } %>                    
                </div>

                <% if(offLength > 12){ %>
                <div id="pagination" class="mt-2 mb-2">

                </div>
                <script type="text/javascript">
                    (function() {
                        var translations = {
                            'PREVIOUS' : '<',
                            'NEXT' : '>',
                            'FIRST' : '<<',
                            'LAST' : '>>',
                            'CURRENT_PAGE_REPORT' : 'Показано от {FromResult} до {ToResult} из {TotalResult} товаров'
                        };
                        var paginator = new pagination.ItemPaginator({prelink: '<%= paginate.prelink %>', slashSeparator: false, current: <%= paginate.current %>, rowsPerPage: 12, totalResult: parseInt(<%= paginate.totalResult %>)-1, translator : function(str) {
                          return translations[str];
                      }
                  });
                        var html = paginator.render();
                        var paginator = pagination.create('search', {prelink: '<%= paginate.prelink %>', slashSeparator: false, current: <%= paginate.current %>, rowsPerPage: 12, totalResult: parseInt(<%= paginate.totalResult %>)-1, translator : function(str) {
                          return translations[str];
                      }
                  });
                        console.log(paginator)
                        html += paginator.render();
                        document.getElementById("pagination").innerHTML = html;
                        $("#pagination .paginator:eq(0) a, #pagination .paginator:eq(0) .paginator-first, #pagination .paginator:eq(0) .paginator-previous").remove();
                    })();
                </script>
                <% } %>


            </div>          
        </div>
    </div>
    <%- include ./panel_includes/dev_message.ejs %>
    <%- include ./panel_includes/panel_footer.ejs %>
</div>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/metisMenu.min.js"></script>
<script src="assets/js/jquery.slimscroll.min.js"></script>
<script src="assets/js/jquery.slicknav.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://cdn.zingchart.com/zingchart.min.js"></script>
<script>
    zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
    ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "ee6b7db5b51705a13dc2339db3edaf6d"];
</script>
<script src="assets/js/line-chart.js"></script>
<script src="assets/js/pie-chart.js"></script>
<script src="assets/js/plugins.js"></script>
<script src="assets/js/scripts.js"></script>
<script src="assets/js/methods.js"></script>
<script type="text/javascript">
    var posivka = '<%= sessionPoziv %>';
    $.post('/getUserAva', {user: posivka},function(res){
        $('#AVATAR').attr({"src":"../../../data/avatars/"+res.ava})
    });
</script>
</body>

</html>
